body {
    background-color: #09bef58f;
}
nav {
    background: #ff0202;
    border-radius: 10px;
    height: 35px;
    line-height: 35px;
}
p {
    color: #ff012f;
    text-size-adjust: 50px;

}

h1 {
    text-shadow: 2px 2px 0 #cccccc;
    text-align: center;
    margin: 40px 0 40 px;
    font-size: 90px;
    color: #9b62e6b4;
    text-shadow: 2px 2px 4px #000;
  }
  nav {
      margin: 27px auto 0;
      position: relative;
      width: 590px;
      height: 50px;
      border: 1px solid black;
      border-radius: 8px
      box-shadow: 2px 2px 4px #000000;
      background-color: #9b2456;
  }
  
nav a {
    line-height: 50px;
    height: 100%;
    font-size: 15px;
    display: inline-block;
    position: relative;
    z-index: 1;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}

nav.animation {
    position: absolute;
    height: 100%;
    top: 0;
    z-index: 0;
    transition: all .5s ease 0s;
    border-radius: 8px;
}

a:nth-child(1) {
    width: 100px;
}
a:nth-child(2) {
    width: 70px;
}
a:nth-child(3) {
    width: 70px;
}
a:nth-child(4) {
    width: 70px;
}
a:nth-child(5) {
    width: 70px;
}
a:nth-child(6) {
    width: 70px;
}
a:nth-child(7) {
    width: 70px;
}

nav.start-home, a:nth-child(1):hover ~ .animation{
    width: 100px;
    left:0;
    background-color: #1abc9c;
}
nav.start-home, a:nth-child(2):hover ~ .animation{
    width: 70px;
    left:100;
    background-color: #1abc9c;
}
nav.start-home, a:nth-child(3):hover ~ .animation{
    width: 70px;
    left:170;
    background-color: #1abc9c;
}
nav.start-home, a:nth-child(4):hover ~ .animation{
    width: 70px;
    left:240px;
    background-color: #1abc9c;
}
nav.start-home, a:nth-child(5):hover ~ .animation{
    width: 70px;
    left:310;
    background-color: #1abc9c;
}
nav.start-home, a:nth-child(6):hover ~ .animation{
    width: 70px;
    left:380;
    background-color: #1abc9c;
}
nav.start-home, a:nth-child(7):hover ~ .animation{
    width: 70px;
    left:450;
    background-color: #1abc9c;
}




        h2{
    color: #000;
}


 /*.photocard {
    display: block;
    width: 300px;
    margin: 20px auto;
  
    border-radius: 10px;
    box-shadow: 0 0 5px #ff0202;}
*/

 